<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

	<div class="modal fade" id="conversionsModal" role="dialog" th:fragment="supportedConversionsDialog">
		<div class="modal-dialog">
		  
		<div class="modal-content modalBackGround">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Supported Conversions Below</h4>
			</div>
			<div class="modal-body">
				<p>If the units don't match or aren't listed below the add feature will not work!</p>
				<div class = "row">
					<div class="col-xs-4">
						tbsp. to tsp.
					</div>
					<div class="col-xs-4">
						tsp. to tbsp.
					</div>
					<div class="col-xs-4">
						lbs. to oz.
					</div>
				</div>
				<div class = "row">
					<div class="col-xs-4">
						oz. to lbs.
					</div>
					<div class="col-xs-4">
						qt to oz.
					</div>
					<div class="col-xs-4">
						oz. to qt
					</div>
				</div>
				<div class = "row">
					<div class="col-xs-4">
						c. to tbsp.
					</div>
					<div class="col-xs-4">
						tbsp. to c.
					</div>
					<div class="col-xs-4">
						c. to tsp.
					</div>
				</div>
				<div class = "row">
					<div class="col-xs-4">
						tsp. to c.
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default modalBackGround" data-dismiss="modal">Close</button>
			</div>
		</div>
		</div>
	</div>

</body>
</html>