<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="/headAndNavbarContent :: templateHeadContent"></th:block>
	<th:block th:include="/headAndNavbarContent :: cssInclude"></th:block>
	<th:block th:include="/headAndNavbarContent :: jsInclude"></th:block>
	<script type="text/javascript" th:src="@{/resources/javaScript/create_recipe_check.js}"></script>
</head>
<body>

	<div th:include="/headAndNavbarContent :: headerBarContent">
	</div>
	
	<div class ="container subHeader">
		<div class = "row listOuterPadding">
			<div class = "col-xs-12">
				<form class="form-signin" id="createRecipeForm" method="POST" th:action="@{/makeRecipe}" th:object="${createRecipeForm}">
					<input class="form-control" type="text" maxlength="60" size="40" id="recipeName" th:attr="name='recipeName'" placeholder="recipe name here" required/>
					<label for="servingsField">Servings:</label>
					<select id="servingsField" th:field="*{numServings}" required>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
					</select> <br>
					<label for="prepHours">Prep Time Hours:</label>
					<select id="prepHours" name="prepHours" required>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
					</select> <br>
					<label for="prepMinutes">Prep Time Minutes:</label>
					<select id="prepMinutes" name="prepMinutes" required>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="10">10</option>
						<option value="15">15</option>
						<option value="20">20</option>
						<option value="25">25</option>
						<option value="30">30</option>
						<option value="35">35</option>
						<option value="40">40</option>
						<option value="45">45</option>
						<option value="50">50</option>
						<option value="55">55</option>
					</select> <br>
					<label for="prepSeconds">Prep Time Seconds:</label>
					<select id="prepSeconds" name="prepSeconds" required>
						<option value="0">0</option>
						<option value="5">5</option>
						<option value="10">10</option>
						<option value="15">15</option>
						<option value="20">20</option>
						<option value="25">25</option>
						<option value="30">30</option>
						<option value="35">35</option>
						<option value="40">40</option>
						<option value="45">45</option>
						<option value="50">50</option>
						<option value="55">55</option>
						<option value="60">60</option>
					</select> <br>
					<label for="cookHours">Cook Time Hours:</label>
					<select id="cookHours" name="cookHours" required>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
					</select> <br>
					<label for="cookMinutes">Cook Time Minutes:</label>
					<select id="cookMinutes" name="cookMinutes" required>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="10">10</option>
						<option value="15">15</option>
						<option value="20">20</option>
						<option value="25">25</option>
						<option value="30">30</option>
						<option value="35">35</option>
						<option value="40">40</option>
						<option value="45">45</option>
						<option value="50">50</option>
						<option value="55">55</option>
					</select> <br>
					<label for="cookSeconds">Cook Time Seconds:</label>
					<select id="cookSeconds" name="cookSeconds" required>
						<option value="0">0</option>
						<option value="5">5</option>
						<option value="10">10</option>
						<option value="15">15</option>
						<option value="20">20</option>
						<option value="25">25</option>
						<option value="30">30</option>
						<option value="35">35</option>
						<option value="40">40</option>
						<option value="45">45</option>
						<option value="50">50</option>
						<option value="55">55</option>
						<option value="60">60</option>
					</select> <br>
					<input class="form-control" type="text" maxlength="20" size="20" id="dishType" th:field="*{dishType}" placeholder="type: cuisine, salad, etc." required/>
					<label for="imageURl">Picture of the recipe (URLs only):</label><br>
					<textarea class="form-control" id="imageURL" th:field="*{imageURL}" rows="4" cols="50"></textarea>
					<label for="recipeDescription">Brief recipe description:</label><br>
					<textarea class="form-control" id="recipeDescription" th:field="*{recipeDescription}" rows="4" cols="50" required></textarea> <br>
					<button class="btn btn-lg btn-primary btn-block" type="submit" onclick = "return validateRecipeCreate()">Create Recipe.</button> <br>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" required>
					<input type="hidden" th:attr="name='prepTimeUnparsed'" id="prepTime" required/>
					<input type="hidden" th:attr="name='cookTimeUnparsed'" id="cookTime" required/>
					<th:block th:if="${message != null}">
						<div class = "alert alert-warning" th:text="${message}">
						</div>
					</th:block>
					<div id="createRecipeInfo"></div>
				</form>
			</div>
		</div>
	</div>
	

</body>
</html>